<div class="u-container-fluid">
    <div class="u-row">
        <div class="u-col-md-4">
            
        </div>
        <div class="u-col-md-4">

        </div>
        <div class="u-col-md-4">

        </div>
    </div>
</div>  