<!--Ô²½Ç£ºu-button-round Ö±½Ç u-button-squared-->
<!--×ó°ëÔ²£ºu-button-pill-leftºÍu-button-round  ÓÒ°ëÔ²£º .u-button-pill-right ºÍ .u-button-round-->
<button class="u-button u-button-primary u-button-round">Ô²ÐÎ°´Å¥
</button>