<!--圆角：u-button-round 直角 u-button-squared-->
<!--左半圆：u-button-pill-left和u-button-round  右半圆： .u-button-pill-right 和 .u-button-round-->
<button class="u-button u-button-primary u-button-round">圆形按钮
</button>
