<!--添加mutil-select类名支持多选-->
<div class="u-combo mutil-select" id="combo3">
    <div class="u-input-group u-has-feedback">
        <input class="u-form-control" />
        <span class="u-form-control-feedback uf uf-anglearrowdown" data-role="combo-button"></span>
    </div>
</div>
<script type="text/javascript">
    u.compMgr.updateComp();
    document.getElementById('combo3')['u.Combo'].setComboData([{value:'01',name:'java'},{value:'02',name:'javascript'},{value:'03',name:'C'},{value:'04',name:'C++'}]);
</script>