<button class="u-button  raised u-menu-button" id="demo-menu-lower-right1">
   基础下拉菜单
    <span class="u-right-icon uf uf-anglearrowdown"></span>
</button>
<ul class="u-menu u-menu-bottom-right" for="demo-menu-lower-right1">
    <li class="u-menu-item "><a>选项一</a></li>
    <li class="u-menu-item"><a>选项二</a></li>
</ul>
