<!--
.u-tag-default:默认
.u-tag-primary:主色
.u-tag-success:绿色
.u-tag-info:蓝色
.u-tag-warning：橘色
.u-tag-danger:红色
.u-tag-dark：深色
-->
<span class="u-tag   u-tag-outline u-tag-default ">Default</span>
