<!--用于即时信息的提示，消息背景色取决于消息类型，易可添加相对应的icon-->
<!--
.u-mesnews:主色
.u-mesinfo:蓝色
.u-messuccess:绿色
.u-mesdanger:红色
.u-meswarning:橘色
-->
<div class="u-message dark u-mesnews active" >
    <span class="u-msg-close uf uf-removesymbol"></span>
    <i class="uf uf-bellmusicaltool margin-r-10"></i>News!
</div>
