<div class="u-panel">

    <div class="u-panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
            tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
            elit. Fusce velit tortor.</P>
    </div>
</div>
