<label class="u-radio" for="option-4">
    <input type="radio" disabled checked id="option-4" class="u-radio-button" name="options1" value="3">
    <span class="u-radio-label">fourth</span>
</label>
