<!--
.tooltip-primary:鍘熻壊
.tooltip-success:缁胯壊
.tooltip-warning:姗樿壊
.tooltip-danger:绾㈣壊
.tooltip-info:钃濊壊
-->
<div class="tooltip tooltip-primary top active" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">primary tooltip</div>
</div>
