<!--参数说明：title:显示内容 placement:显示方向 colorLevel:颜色主体-->
<label id="top" class="ws">上提示</label>
<script type="text/javascript">
    var toptoolEle=document.getElementById('top');
    var toptip=new u.Tooltip(toptoolEle,{
        title:'默认向上显示',
        placement:'top'
    });
</script>